<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        {{> header/header }}
        <script src="js/main.js"></script>
    </body>
</html>
